[multiplayer]

current_time=0
description="Kooperacja Imperium & Elfy"
id="YOW_COOP_1+8"
map_file="TheOldWorld.map"
name="YOW_COOP_Imperium & Elfy"
victory_when_enemies_defeated=no
turns=25

{DEFAULT_SCHEDULE}

[side]
    side=1
	controller="human"
	faction=Loyalists
	faction_lock=yes
	color=red
	fog=yes
	gold=25
	hidden=no
	income=2
	no_leader=yes
	share_vision="all"
	shroud=no
	side_name="Imperium & Elfy"
	team_name="Imperium & Elfy"
	[leader]
	    id=Franz
	    name="Karl Franz"
	    unrenamable=yes
	    type="Knight"
        x,y=42,15
        canrecruit=yes
        max_moves=3
	[/leader]
	[village]
	    x,y=42,15
	[/village]
[/side]

{SIDE_KISLEV}
{SIDE_WAMPIRY}
{SIDE_KRASNOLUDY}
{SIDE_ORKI}
{SIDE_TILEA}
{SIDE_ESTALIA}
[side]
    side=8
	controller="human"
	faction=Rebels
	faction_lock=yes
	color=green
	fog=yes
	gold=25
	hidden=no
	income=2
	no_leader=yes
	share_vision="all"
	shroud=no
	side_name="Imperium & Elfy"
	team_name="Imperium & Elfy"
	[leader]
	    id=Orion
	    name="Orion"
	    unrenamable=yes
	    type="Elvish Lord"
        x,y=37,25
        canrecruit=yes
        max_moves=4
	[/leader]
	[village]
	    x,y=37,25
	[/village]
[/side]


{IMPERIUM_CELE}
{ELFY_CELE}

# Warunki zwycięstwa

[event]
    name=turn end
    first_time_only=no
    [if]
        [variable]
            name=Imperium_win
            equals=1
        [/variable]
        [and]
        [variable]
            name=Elfy_win
            equals=1
        [/variable]
        [/and]
            [then]
                [endlevel]
                    result=victory
                [/endlevel]
            [/then]

    [/if]
[/event]

# Dialogi

[event]
    name=start
    [message]
        speaker=Franz
        message= _ "A więc czas przywrócić Imperium dawną świetność! Tylko czy na prawdę na początek musimy się znowu bić z Elfami?"
    [/message]
    [message]
        speaker=Orion
        message= _ "Faktycznie to się robi nudne. Czy nasze walki są w ogóle zgodne z lore?"
    [/message]
    [message]
        speaker=Carlos
        message= _ "Ze wszystkich frakcji to właśnie Ty podważasz zgodność z lore? Przypominam, że to my musimy walczyć z pierdolonymi wiatrakami!"
    [/message]
    [message]
        speaker=Thorgrim
        message= _ "To akurat jest zabawne."
    [/message]
    [message]
        speaker=Grimgor
        message= _ "Khee kheee he he. He he!"
    [/message]
    [message]
        speaker=Thorgrim
        message= _ "Ork przyznał mi rację! Ha! To skutkuje brakiem wpisu do Księgi Uraz!"
    [/message]
    [message]
        speaker=Carlos
        message= _ "Przypominam, że dowcip był mój. A w dodatku ironiczny!"
    [/message]
    [message]
        speaker=Orion
        message= _ "Brawo Carlosie! Zaiste prześmieszny ironiczny dowcip. Ha ha. Ha."
    [/message]
    [message]
        speaker=Katarin
        message= _ "O, kogoś tu dupka boli. Czyżbyś Elfie stracił miano największego marudy?"
    [/message]

[/event]

[event]
    name=turn 2
        [message]
            speaker=Orion
            message= _ "Wiesz co Karolku? Wkurwiły mnie te wszystkie cioty ze swoimi prześmiesznymi komentarzami. Zróbmy im na złość i zawrzyjmy pakt. Ten jeden raz."
        [/message]
        [message]
            speaker=Franz
            message= _ "Richtig. Spokój na tyłach, można skupić się na odzyskaniu Imperium. Tym bardziej, że w skarbcu krucho."
        [/message]
        [message]
            speaker=Orion
            message= _ "Ej, ej, ale wara od moich wiosek. My też potrzebujemy pieniędzy."
        [/message]
        [message]
            speaker=Thorgrim
            message= _ "Ha! A cóż to? Elf się tłumaczy? Ho ho."
        [/message]
        [message]
            speaker=Orion
            message= _ "Wasze twierdze też sobie weźmiemy."
        [/message]
        [message]
            speaker=Grimgor
            message= _ "Khaaa! Pełna zgoda!"
        [/message]
        [message]
            speaker=Thorgrim
            message= _ " A więc... Wojna!"
        [/message]
[/event]
[event]
    name=turn 5
        [message]
            speaker=Leonardo
            message= _ "Czuję się w obowiązku poinformować wszystkich, iż pozycja startowa Imperium i Elfów daje im ogromną przewagę! Tak rzeczą symulacje, przeprowadzone przez nasze Algorytmy."
        [/message]
        [message]
            speaker=Izabella
            message= _ "Symulacje, symulacje. Mam już dość symulowania, zwłaszcza w łóżku."
        [/message]
        [message]
            speaker=Vlad
            message= _ "Pełna... Zaraz... "
        [/message]
        [message]
            speaker=Izabella
            message= _ "Ale moja niezawodna kobieca intuicja mówi, że Migreński Mądrala ma rację."
        [/message]
        [message]
            speaker=Carlos
            message= _ "To faktycznie nie fair. Musimy coś z tym zrobić."
        [/message]
        [message]
            speaker=Orion
            message= _ "Czy wy wszyscy, tępacy, macie wyprasowane zwoje mózgowe? Jakoś nikt nie bierze pod uwagę, że dostaliśmy po 25 hajsu na start. Z tym się nie da grać, to jest jakaś parodia. Jak niby mamy dobić do naszego celu?"
        [/message]
        [message]
            speaker=Thorgrim
            message= _ "Może zajmijcie Altdorf i część Imperium jak zawsze?"
        [/message]
        [message]
            speaker=Vlad
            message= _ "Zaraz, zaraz. Moje Imperium?"
        [/message]
        [message]
            speaker=Izabella
            message= _ "Nie Władziu. Nasze. Pół na pół."
        [/message]
        [message]
            speaker=Orion
            message= _ "Hmm. Czasem i z bełkotu durniów można wyciągnąć sensowne rozwiązania. Zwłaszcza jak myślą, że żartują."
        [/message]

[/event]
[event]
    name=turn 7
        [message]
            speaker=Franz
            message= _ "Nie jestem pewien. Czy ten pomysł z zajęciem przez elfy naszych miast, to było na poważnie?"
        [/message]
        [message]
            speaker=Orion
            message= _ "Chętnie."
        [/message]
        [message]
            speaker=Franz
            message= _ "Hmm. Brak zagrożenia rozleniwia ludność. Możecie zająć część naszych miast, a my je potem niby odbijemy, żeby ludność była wdzięczna."
        [/message]
        [message]
            speaker=Orion
            message= _ "Współpraca z Tobą to przyjemność. Może nawet pomożemy Wam odzyskać Imperium."
        [/message]
        [message]
            speaker=Leonardo
            message= _ "Ja to zgłoszę do UOKiK, albo nie wiem, do twórców gry. Tak nie można. Nie powinno się. Nie godzi się. Tak być nie musi!"
        [/message]
[/event]



[/multiplayer]