[multiplayer]

current_time=0
description="Kooperacja Imperium & Tilea"
id="YOW_COOP_1+6"
map_file="TheOldWorld.map"
name="YOW_COOP_Imperium & Tilea"
victory_when_enemies_defeated=no
turns=25

{DEFAULT_SCHEDULE}

[side]
    side=1
	controller="human"
	faction=Loyalists
	faction_lock=yes
	color=red
	fog=yes
	gold=75
	hidden=no
	income=2
	no_leader=yes
	share_vision="all"
	shroud=no
	side_name="Imperium & Tilea"
	team_name="Imperium & Tilea"
	[leader]
	    id=Franz
	    name="Karl Franz"
	    unrenamable=yes
	    type="Knight"
        x,y=42,15
        canrecruit=yes
        max_moves=3
	[/leader]
	[village]
	    x,y=42,15
	[/village]
[/side]

{SIDE_KISLEV}
{SIDE_WAMPIRY}
{SIDE_KRASNOLUDY}
{SIDE_ORKI}
[side]
    side=6
	controller="human"
	faction=Loyalists
	faction_lock=yes
	color=white
	fog=yes
	gold=75
	hidden=no
	income=2
	no_leader=yes
	share_vision="all"
	shroud=no
	side_name="Imperium & Tilea"
	team_name="Imperium & Tilea"
	[leader]
	    id=Leonardo
	    name="Leonardo da Miragliano"
	    unrenamable=yes
	    type="White Mage"
        x,y=38,42
        canrecruit=yes
	[/leader]
	[village]
	    x,y=38,42
	[/village]
[/side]
{SIDE_ESTALIA}
{SIDE_ELFY}


{IMPERIUM_CELE}
{TILEA_CELE}

# Warunki zwycięstwa

[event]
    name=turn end
    first_time_only=no
    [if]
        [variable]
            name=Imperium_win
            equals=1
        [/variable]
        [and]
        [variable]
            name=Tilea_win
            equals=1
        [/variable]
        [/and]
            [then]
                [endlevel]
                    result=victory
                [/endlevel]
            [/then]

    [/if]
[/event]

# Dialogi

[event]
    name=start
    [message]
        speaker=Franz
        message= _ "A więc czas przywrócić Imperium dawną świetność!"
    [/message]
    [message]
        speaker=Leonardo
        message= _ "Ach! Ależ to inspirujące!"
    [/message]
    [message]
        speaker=Vlad
        message= _ "Pełna zgoda!"
    [/message]
    [message]
        speaker=Leonardo
        message= _ "Księgi historyczne potwierdzają Waszą wzajemną wrogość! Ach, czeka Was epicka batalia!"
    [/message]
    [message]
        speaker=Franz
        message= _ "Jak rozumiem, jako inteligentna rasa ludzka, oczywiście wspomożecie nas w Mojej Walce?"
    [/message]
    [message]
        speaker=Leonardo
        message= _ "Zleciliśmy badania naszym najtęższym umysłom. Prowadzimy intensywne prace w tej kwestii i udzielimy odpowiedzi w terminie 14 dni roboczych od wpłynięcia wniosku!"
    [/message]
    [message]
        speaker=Franz
        message= _ "Ehh, Scheize!"
    [/message]
    [message]
        speaker=Vlad
        message= _ "Pełna zgoda."
    [/message]

[/event]

[event]
    name=turn 3
        [message]
            speaker=Franz
            message= _ "Zaczyna to wyglądać nieciekawie, wszędzie wokół wrogowie, a ja wzywam Was do rychłej odpowiedzi w sprawie pomocy!"
        [/message]
        [message]
            speaker=Thorgrim
            message= _ "Jakaż kultura! Niby Imperator, a mnie w ogóle nie zaimponował! Gdyby sprawa dotyczyła Krasnoludów, to takie płaszczenie się przed pederastami trafiłoby do Księgi Uraz!"
        [/message]
        [message]
            speaker=Leonardo
            message= _ "Dlatego Wy, Krasnoludy, pozostaliście w sferze niedoedukowanych barbarzyńców."
        [/message]
        [message]
            speaker=Thorgrim
            message= _ "My? Niedoedukowani? Gdybyście nie ukradli naszych patentów, to te Wasze, ha tfu, Uniwersytety, w ogóle by nie powstały. A jak już, to co najwyżej, rozkładałyby na czynniki pierwsze prośby Imperatora wielokrotnie złożone!"
        [/message]
[/event]
[event]
    name=turn 4
        [message]
            speaker=Franz
            message= _ "A propos próśb wielokrotnie złożonych..."
        [/message]
        [message]
            speaker=Leonardo
            message= _ "Jaśnie Oświecony Panie Franzu. Analizy naszych uczonych wykazały nieoczywiste wnioski. Otóż, w obecnej wojnie... Kluczowa jest Bretonia!"
        [/message]
        [message]
            speaker=Franz
            message= _ "Teraz to żeś, Panie Jaśnie Oświecony, odfrunął jak Kometa. Co niby do rzeczy ma Bretonia!?"
        [/message]
        [message]
            speaker=Leonardo
            message= _ "Nasze Algorytmy wykazały, że statystycznie rzecz biorąc, na Waszym miejscu, lepiej wycofać się do Bretonii. Przeczekacie burzę w Imperium i tam będziemy mogli Was wspomóc."
        [/message]
        [message]
            speaker=Carlos
            message= _ "Ha? I przy okazji zajmiecie Bretońskie porty? Dwulicowe parszywce!"
        [/message]
        [message]
            speaker=Franz
            message= _ "Mnie to tam Bretońskie porty koło berła latają. Ale kim, do Komety, są te Algorytmy? Ja to kobietom bym nie ufał."
        [/message]
        [message]
            speaker=Izabella
            message= _ "Kobietom by nie ufał! Vladzislavie! Osobiście gardzę Krasnoludami, ale ten ich pomysł z Księgą Uraz, chyba nie jest najgorszy?"
        [/message]
        [message]
            speaker=Katarin
            message= _ "Pełna zgoda!"
        [/message]
        [message]
            speaker=Vlad
            message= _ "Och Izabello! Chyba nie stać nas na kolejną ryzę ludzkich skór tygodniowo."
        [/message]
[/event]
[event]
    name=turn 6
        [message]
            speaker=Franz
            message= _ "Nie jestem pewien. Czy ten pomysł z wycofaniem się do Bretonii nie był aby dobry?"
        [/message]
        [message]
            speaker=Thorgrim
            message= _ "Z całym brakiem szacunku. Spójrz na sytuację i sam sobie odpowiedz. Odpowiedź wydaje się oczywista!"
        [/message]
        [message]
            speaker=Leonardo
            message= _ "Nasza pomoc już nadciąga. Konsekwencja przede wszystkim!"
        [/message]
        [message]
            speaker=Franz
            message= _ "Ach! Nie mam czasu na te wszystkie kobiety! Najpierw Algorytmy, teraz Konsekwencja. A Imperium czeka! Za Imperium! Do boju!"
        [/message]
[/event]



[/multiplayer]